{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Main CSS-->
      <link rel="stylesheet" type="text/css" href=" {% static '/css/main/main.css' %}">

      <!-- Font-icon css-->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body class="app sidebar-mini">

    <!-- Header Navbar-->
    {% include "waterbill/topbarl.html" %}
    <!-- end of Header Navbar-->
    <!-- Sidebar menu-->
    {% include "waterbill/sidebarl.html" %}
    <!-- End of Sidebar -->

    <main class="app-content">

        {% block content %}

        {% endblock %}

    </main>

  </body>

  <!-- Page specific javascripts-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

  <!-- Essential javascripts for application to work-->
  <script type="text/javascript" src="{% static '/js/login/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/login/pooper.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/login/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/login/main.js' %}"></script>

  <script type="text/javascript">
        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>


</html>
