{% extends 'waterbill/logmain.html'%}
{% block title %} Profile-Online Water Bill Application {% endblock %}

{% block content %}

<form action="/profile/{{result.meter_number}}">
  <div class="row user">
    <div class="col-md-3">
      <div class="tile p-0">
          <ul class="nav flex-column nav-tabs user-tabs">
              <li class="nav-item"><a class="nav-link" href="#user-profile" data-toggle="tab">Edit Information</a></li>
          </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="tab-content">
          <div class="tab-pane fade" id="user-profile">
              <div class="tile user-profile">
                  <h4 class="line-head text-center">Edit Profile</h4>
                  <form>
                      <div class="row mb-4">
                          <div class="col-md-6">
                              <label>Account ID</label>
                              <input type="text" class="form-control" name="account_id" value="{{result.account_id}}" disabled="">
                          </div>
                          <div class="col-md-6">
                              <label>Meter Number</label>
                              <input type="text" class="form-control" name="meter_number" value="{{result.meter_number}}" disabled="">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 mb-4">
                              <label>First Name</label>
                              <input type="text" class="form-control" name="first_name" required maxlength="100" value="{{result.first_name}}">
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-md-12 mb-4">
                              <label>Middle Name</label>
                              <input type="text" class="form-control" name="middle_name" required maxlength="100" value="{{result.middle_name}}">
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-md-12 mb-4">
                              <label>Last Name</label>
                              <input type="text" class="form-control" name="last_name" required maxlength="100" value="{{result.last_name}}">
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-md-12 mb-4">
                              <label>Address</label>
                              <input type="text" class="form-control" name="address" required maxlength="100" value="{{result.address}}">
                          </div>
                      </div>
                      <div class="row mb-10">
                          <div class="col-md-12 text-center">
                              <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-primary" style="width:50%;border-radius:20px;">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
