{% load static %}

<!-- Sidebar menu-->
{% with url_name=request.resolver_match.url_name %}
<li>
    <a class="app-menu__item {% if url_name == 'latestl' %}active {% endif %}" href="{% url 'latestl' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Current Bills</span></a>
</li>
<li>
    <a class="app-menu__item {% if url_name == 'oldl' %}active {% endif %}" href="{% url 'oldl' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Usage and Payments <br>History</span></a>
</li>
{% endwith %}
<!-- End of Sidebar -->
